<<<<<<< HEAD
// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Extend fallback
//  _____________________________________________

//  Magento extend fallback handling. Should be EMPTY.

// row col style guide
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    &:last-child{
        margin-left: 80px;
    }
    .style-guide-text{
        .title-common;
    }
}

// title common style guide
=======
/* header */
.style-guide-logo{
    margin: 0 auto;
    width: 451px;
}

/* main */



>>>>>>> master
.title-common{
    font-size: 30px;
    color: #ccc;
    margin-bottom: 30px;
    margin-top: 67px;
}
<<<<<<< HEAD
=======
.style-guide-text {
    .title-common;
}


.style-guide {
    .row {
        display: flex;
        margin: 0 -40px;
        padding-top: 15px;

        .col {
            padding: 0 40px;
            width: 50%;
            .custom-buttons {
                button {
                    text-transform: uppercase;
                }
            }
            .custom-radios-checkboxs {
                .style-guide-inputs {
                    display: flex;
                    .style-guide-checkbox {
                        width: 50%;
                    }
                    .style-guide-radio {
                        width: 50%;
                    }
                }
            }
            .custom-inputs{
                .sg-input-field{
                    margin-bottom: 10px;
                }
            }
            //typography
            .custom-typhotography{
                .style-guide-paragraph{
                    p{
                        &:first{
                            margin-bottom: 0;
                        }
                        &:last-child{
                            margin: 30px 0;
                        }
                    }
                }
                .style-guide-links{
                    margin-bottom: 50px;
                }
            }
            .custom-misc{
                margin-bottom: 20px;
                .style-guide-icons{
                    display: flex;
                    .social{
                        margin-left: 15px;
                        display: flex;
                        div {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}





/* footer */
>>>>>>> master
