.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform; /* note that you have @trasnform here */
    -o-transform: @transform;
    transform: @transform;
}
//less a tag
.customatag {
    color: white;
    text-decoration: none;
    animation: ease 0.3s;
    &:hover {
        color: rgb(151, 151, 151);
    }
}
//header
.page-header {
    border: 0;
    margin-bottom: 0;
    .panel.wrapper {
        background-color: #222;
        border-bottom: 0;
        padding: 0;
        line-height: none;
        .header-pc {
            height: 18px;
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 14px;
            font-weight: 500;
            a {
                .customatag;
            }
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;
                li {
                    margin: 0;
                }
            }
            .header-info {
                ul {
                    li {
                        margin-right: 27px;
                        position: relative;
                        &::after {
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: white;
                            position: absolute;
                            right: -15px;
                            top: 50%;
                            .transform(translateY(-50%));
                        }
                        &:last-child {
                            margin-right: 0;
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
            .header-more {
                ul {
                    li {
                        margin-right: 20px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .header.content {
        padding-top: 15px;
        padding-bottom: 30px;
        .logo {
            margin: 0;
        }
        //minicart-wrapper
        .minicart-wrapper {
            .block-minicart {
                width: 360px;
                padding: 20px;
                .items-total,
                .subtotal{
                    margin: 0;
                }
                .block-content{
                    .actions {
                        margin-top: 20px;
                        .primary{
                            margin: 0;
                            // .actions.primary{
                            //         padding: 0;
                            //         line-height: 0;
                                
                            // }
                        }
                        .secondary{
                            .action.delete{
                                margin-left: 15px;
                            }
                            margin-bottom: 10px;
                        }
                    }
                }
                .product.actions{
                        margin: -30px 0 0 ;
                    }
                
                .minicart-items-wrapper{
                    padding: 0;
                    margin: 0;
                }
                .minicart-items{
                    .product-item{
                        padding: 20px 0;
                    }
                }
            }
            margin: 19px 0 0 30px;
            //icon cart and quantity number
            .action.showcart {
                .counter.qty {
                    background-color: white;
                    color: #d40000;
                    font-size: 13px;
                    font-family: @font-family__base;
                    padding: 0;
                    margin-left: 8px;
                    .counter-number {
                        text-shadow: none;
                    }
                }
                &::before,
                &.active::before {
                    font-size: 22px;
                    color: #d30000;
                    content: "\f07a";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }
            }
        }
        //search input
        .block-search {
            padding-top: 13px;
            width: fit-content;
            input {
                width: 400px;
                border: 2px solid #bbb;
            }
            .block-content {
                .minisearch {
                    .action.search {
                        top: 17px;
                        right: 15px;
                        button {
                            font-size: 300px;
                        }
                    }
                }
            }
        }
    }
}
.multicheckout {
    
    .actions.primary{
        padding: 0;
        line-height: 0;
    
}
}