.panel.wrapper {
    background-color: red;
    height: 36px;
    border: 0;
    display: flex;
    align-items: center;
    .header-pc {
        line-height: normal;
        display: flex;
        justify-content: space-between;
        color: white;
        ul {
            margin: 0;
            display: flex;
            list-style: none;
            li {
                a {
                    text-decoration: none;
                }
                margin: 0;
            }
        }
        .header-contact {
        }
        .header-info {
        }
        .header-more {
        }
    }
}
