<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome-free-6.1.1-web/css/all.min.css">
</head>

<body>
    <div class="style-guide-inputs">
        <!-- Checbox -->
        <div class="style-guide-checkbox">
            <div>
                <input id="" class="checkbox" checked="checked" name="" type="checkbox">
                <label class="style-guide-label" for="checkbox">Ticket</label>
            </div>

            <div>
                <input id="" class="checkbox" name="" type="checkbox">
                <label class="style-guide-label" for="checkbox">Not Ticked</label>
            </div>

            <div>
                <input id="" class="checkbox" checked="checked" disabled="disabled" name="" type="checkbox">
                <label class="style-guide-label" for="checkbox">Ticked, Disabled</label>
            </div>

            <div><input id="" class="checkbox" disabled="disabled" name="" type="checkbox">
                <label class="style-guide-label" for="checkbox">Disabled</label>
            </div>
        </div>
        <!-- End Checbox -->
        <!-- Radio -->
        <div class="style-guide-radio">
            <div>
                <input id="" class="radio" checked="checked" name="" type="radio">
                <label class="style-guide-label" for="radio">Selected</label>
            </div>
            <div>
                <input id="" class="radio" name="" type="radio">
                <label class="style-guide-label" for="radio">Not Selected</label>
            </div>
            <div><input id="" class="radio" checked="checked" disabled="disabled" name="" type="radio">
                <label class="style-guide-label" for="radio">Selected, Disabled</label>
            </div>
            <div><input id="" class="radio" disabled="disabled" name="" type="radio"> <label class="style-guide-label"
                    for="radio">Disabled</label></div>
        </div>
        <!-- End Radio -->
    </div>
</body>

</html>