.page-title-wrapper{
    text-align: center;
    .page-title{
        margin: 0;
    }
    .product-item-photo {
        left: 10px;
    }
    .item {
        .col.item {
            min-height: unset;
            padding: 10px 15px 10px 90px;
        }
    }
    .col {
        &.subtotal,
        &.qty {
            padding: 10px 0 10px 90px;
            width: fit-content;
            &[data-th]::before {
                content: "";
                display: none;
            }
        }
    }
    .action{
        margin-right: 10px;
    }
}
//button update in cart
.cart.main.actions {
    button {
        &:hover,
        &:active {
            background-color: unset;
            border: unset;
            color: unset;
        }
    }
    .action.update {
        border: unset;
        font-size: 13px;
        line-height: 20px;
        text-decoration: underline;
        color: #151515;
        font-weight: 400;
        padding: 20px 0;
    }
}
.cart-container{
    display: flex;
    flex-direction: column;
    .action.primary.checkout{
        margin: 15px 10px 20px;
    }
    //hoa don
    .cart-summary{
        width: 100%;
        order: 2;
        top:unset;
        position: unset;
    }
    //danh sach san pham
    .form.form-cart{
        width: 100%;
        order: 0;
        .cart.item{
            .item-info{
                display: flex;
                flex-direction: column;
                .col{
                    &.item{

                    }
                    &.price{
                        display: none;
                    }
                    &.qty{

                    }
                    &.subtotal{

                    }
                }
            }
            .item-actions{
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    //giam gia
    .cart-discount{
        width: 100%;
        order: 1;
    }
    //crosssell
    .block.crosssell{
        order: 3;
    }
}